.outlined-dark-1 {
  border: 1px solid var(--dark-1);
  color: var(--dark-1);
}

.outlined-dark-2 {
  border: 1px solid var(--dark-2);
  color: var(--dark-2);
}

.outlined-orange {
  border: 1px solid var(--orange);
  color: var(--orange);
}

.outlined-orange-light {
  border: 1px solid var(--orange-light);
  color: var(--orange-light);
}
