:root {
  --dark-1: rgba(23, 23, 23, 1);
  --dark-2: rgba(33, 33, 33, 1);
  --orange: rgba(190, 113, 60, 1);
  --orange-light: rgba(245, 226, 195, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 60px;
  line-height: 69px;
  font-weight: 300;
}

h2 {
  font-weight: 400;
  font-size: 50px;
  line-height: 60.95px;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
  font: inherit;
  cursor: pointer;
  /* Другие переопределения стилей */
  transform: none;

  &:hover {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.static {
  user-select: none;
}
