.container {
  position: relative;
  width: 1920px;
  height: 1508px;
  background: var(--dark-2);
  padding-left: 312px;
  flex-direction: column;
  display: flex;
  gap: 48px;
  //   align-items: center;
}
